
.steps {
	display: flex;
}
.step {
	margin: 5px;
	border: 1px solid #bbb;
	background: #f3f3f3;
	width: 25%;
	height: 400px;
}

.download {
	cursor: pointer;
	color: blue;
}

.contents {
	    max-height: 300px;
    overflow: auto;
}